@using static CinestarApp.Models.Entidades
@model Pelicula

@{
    
    var p = Model;
    ViewData["Title"] = p.Titulo;
}

<div class="contenido">
    <div class="publicidad">
        <a href="#"><img src="~/img/varios/starcard.jpg" /></a>
        <a href="#"><img src="~/img/varios/cinefilo-star.jpg" /></a>
    </div>
    <div class="contenido-interno" id="contenido-interno">

        <br /><h1>@p.Titulo</h1><br />
        <div class="contenido-pelicula">
            <div class="datos-pelicula">
                <h2>@p.Titulo</h2>
                <p>@p.Sinopsis</p>
                <br />
                <div class="tabla">
                    <div class="fila">
                        <div class="celda-titulo">Título Original :</div>
                        <div class="celda">@p.Titulo</div>
                    </div>
                    <div class="fila">
                        <div class="celda-titulo">Estreno :</div>
                        <div class="celda">@p.FechaEstrenoss</div>
                    </div>
                    <div class="fila">
                        <div class="celda-titulo">Género :</div>
                        <div class="celda">@p.Geneross</div> 
                    </div>
                    <div class="fila">
                        <div class="celda-titulo">Director :</div>
                        <div class="celda">@p.Director</div>
                    </div>
                    <div class="fila">
                        <div class="celda-titulo">Reparto :</div>
                        <div class="celda">Dwayne Johnson, Kevin Hart, Jack Black, Karen Gillan</div> 
                    </div>
                </div>
            </div>
            
            <img src="~/img/pelicula/@(p.Id).jpg" width="160" height="226"><br /><br />
        </div>

        <div class="pelicula-video">
            <iframe width="580" height="400"
                    src="https://www.youtube.com/embed/@p.Link"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</div>
<div class="clearbox"><br /></div>